<footer class="page-footer" role="contentinfo">
    <div class="d-flex hidden-sm-down align-items-center flex-1 text-muted">
        <span class="fw-700">2020 © KnD Temps Produced by&nbsp;<a href='#' class='text-primary  fw-500' title='kndtechs.com' target='_blank'>KnD Technologies</a></span>
        
    </div>
    <div class="hidden-sm-down">
        <span class="fw-700">Developed By Pascal ALHADOUM</span>
        {# <ul class="list-table m-0">
            <li><a href="intel_introduction.html" class="text-secondary fw-700">About</a></li>
            <li class="pl-3"><a href="info_app_licensing.html" class="text-secondary fw-700">License</a></li>
            <li class="pl-3"><a href="info_app_docs.html" class="text-secondary fw-700">Documentation</a></li>
            <li class="pl-3 fs-xl"><a href="https://wrapbootstrap.com/user/MyOrange" class="text-secondary" target="_blank"><i class="fal fa-question-circle" aria-hidden="true"></i></a></li>
        </ul> #}
    </div>
    <div class="d-flex hidden-md-up align-items-center text-center flex-1 text-muted">
        <span class="fw-700">2020 © KnD Temps Produced by <a href='#' class='text-primary  fw-500' title='kndtechs.com' target='_blank'>KnD Technologies &nbsp;Developed&nbsp;By&nbsp;Pascal&nbsp;ALHADOUM</a></span>
    </div>
    
</footer>