<footer class="footer text-center text-sm-left mt-5">
    &copy; 2020 KnD Temps Back-End Produced By KnD Technologies<span class="text-muted d-none d-sm-block text-md-center float-lg-right">Developed by Pascal ALHADOUM</span><p class="text-muted d-sm-none">Developed by Pascal ALHADOUM</p>
</footer>
</div>